#!/bin/sh

. px4-alias.sh

set PARAM_FILE "parameters.bson"
param select $PARAM_FILE
if [ -f "$PARAM_FILE" ]; then
    if ! param import; then
        echo "ERROR [init] param import failed"
    fi
fi

ver all

if param greater SYS_AUTOCONFIG 0; then
    param reset_all SYS_AUTOSTART RC* CAL_* COM_FLTMODE* LND_FLIGHT* TC_* COM_FLIGHT*
    echo "WARN [param] parameters reset!"
fi

param set-default COM_FLTMODE1 0
param set-default COM_FLTMODE2 -1
param set-default COM_FLTMODE3 -1
param set-default COM_FLTMODE4 1
param set-default COM_FLTMODE5 -1
param set-default COM_FLTMODE6 2
param set SYS_AUTOSTART 4017

dataman start
send_event start
load_mon start
rc_input start -d /dev/ttymxc1
rc_update start
manual_control start
bmp280 start -I -b 3 -a 0x76
icm42688p start -s -R 12
bmi088 start -A -s -R 12
bmi088 start -G -s -R 12
ist8310 start -I -b 3 -a 0x0e -R 4
battery_status start
sensors start
commander start
linux_pwm_out start
control_allocator start
ekf2 start &
mc_rate_control start
mc_att_control start
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
land_detector start multicopter
gps start -d /dev/ttymxc3 -b 38400 -p ubx
mavlink start -x -Z -d /dev/ttymxc2
navigator start
param set SDLOG_MODE 0
logger start -b 8

echo "INFO [init] boot_complete"
mavlink boot_complete
